<.site_header current_account={@current_account} admin_namespace={assigns[:admin_namespace]} />

<main class="container-md">
  <.flash kind={:info} flash={@flash} />
  <.flash kind={:error} flash={@flash} />
  <div class="py-5" style="min-height: 640px">
    <%= @inner_content %>
  </div>
</main>

<.site_footer current_account={@current_account} />
