<.site_header current_account={@current_account} namespace={assigns[:namespace]} />

<.flash kind={:info} flash={@flash} />
<.flash kind={:error} flash={@flash} />
<main class="container-md">
  <div style="min-height: 640px">
    <%= @inner_content %>
  </div>
</main>

<.site_footer current_account={@current_account} />
