@import "./form.css";
@import "./phoenix.css";

/* This file is for your main application CSS */
:root {
  --purple: rgb(60, 4, 86);
  --purple-dark: rgb(41, 0, 63);
  --purple-light: rgb(85, 6, 127);
  --pink: rgb(236, 30, 121);
  --yellow: rgb(253, 214, 103);
  --cyan: rgb(0, 218, 255);
  --purple-twitch: rgb(148, 59, 255);
}

main {
  background-image: url("/images/background.png");
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: max-content 1fr;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 80vw;
  min-height: 110vh;
  color: white;
  font-family: 'Montserrat', 'Myriad Pro', Calibri, Helvetica,
    Arial, sans-serif;
}

article {
  background-image: url("/images/content.png");
  padding: 15px;
}

header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column: 1/-1;
  border-radius: 5px;
}

header section {
  background-color: var(--purple-dark);
  border-radius: 5px;
  display: flex;
}

header section img {
  width: 50px;
  height: 50px;
}

header section div {
  background: var(--purple-dark);
  background: linear-gradient(135deg, var(--purple-dark) 50%, var(--pink) 51%);
  width: 50px;
  height: 50px;
}

header nav {
  background-color: var(--pink);
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, min-content);
  column-gap: 15px;
  padding-left: 15px;
}

header nav li {
  display: inline-block;
}

header nav li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

aside {
  display: grid;
  row-gap: 5px;
}

aside section {
  background-color: var(--purple-light);
  padding: 20px;
  border-radius: 10px;
}

aside section div {
  background-color: var(--purple-dark);
  margin: 5px;
  padding: 5px;
}

aside section h2 {
  position: relative;
  top: -1.50em;
  text-transform: uppercase;
}

aside section h2 span {
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--cyan);
  border-radius: 10px;
}

aside #social-links ul {
  background-color: var(--purple-dark);
  list-style: none;
  padding: 5px;
  display: flex;
  place-content: space-around;
}

aside #social-links ul li {
  display: inline-block;
}

dl dd {
  margin-bottom: 25px;
}

dl dt {
  font-weight: bold;
  color: var(--yellow);
}
