@import "./form.css";
@import "./phoenix.css";
@import "./card.css";
@import "./topbar.css";

/* This file is for your main application CSS */
:root {
  --purple: rgb(60, 4, 86);
  --purple-dark: rgb(41, 0, 63);
  --purple-light: rgb(85, 6, 127);
  --pink: rgb(236, 30, 121);
  --yellow: rgb(253, 214, 103);
  --cyan: rgb(0, 218, 255);
  --purple-twitch: rgb(148, 59, 255);
}

pre code {
  white-space: pre-wrap;
}

main {
  max-width: 80vw;
  min-height: 110vh;
  font-family: 'Montserrat', 'Myriad Pro', Calibri, Helvetica,
    Arial, sans-serif;
}
