@import "./phoenix.css";
@import "./form.css";
@import "./card.css";
@import "./topbar.css";

/* This file is for your main application CSS */
:root {
  --purple: rgb(60, 4, 86);
  --purple-dark: rgb(41, 0, 63);
  --purple-light: rgb(85, 6, 127);
  --pink: rgb(236, 30, 121);
  --yellow: rgb(253, 214, 103);
  --cyan: rgb(0, 218, 255);
  --purple-twitch: rgb(148, 59, 255);
  --white: #fffaed;
}

pre code {
  white-space: pre-wrap;
}

body {
  background-color: var(--purple-dark);
}

main {
  margin-top: 4.5rem;
  max-width: 80vw;
  min-height: 110vh;
  font-family: 'Montserrat', 'Myriad Pro', Calibri, Helvetica,
    Arial, sans-serif;
}

.nav-shadow {
  box-shadow: 0px 0px 3px 0px #000000;
}

.halls-title-big {
  font-size: 6rem;
}

.lead {
  font-size: 1.5rem;
  font-weight: 400;
}
